{{#partial "contenido"}}
<main style="display: flex; flex-direction: column;  align-items: center;">
    <h1>Editar establecimiento</h1>
    <form style="width: 77%;" method="POST" action="/establecimientos/{{Establecimiento.id_establecimiento}}">
        <div class="mb-3">
            <h2 style="border-bottom: 4px solid black; margin-top: 1rem;">Nombre</h2>
            <input name="nombre" type="text" class="form-control" id="exampleInputName2" value="{{Establecimiento.nombre}}">
        </div>
        <h2 style="border-bottom: 4px solid black; margin-top: 1rem;">Localización</h2>
        <div style="display: flex; flex-direction: row;  align-items: center;">
            <select name="provincia" class="form-select" aria-label="Default select example" id="selectProvincia">
                <option>Provincia</option>
                                {{#each provincias}}
                                    <option data-parametro="{{this.id}}" value="{{this.nombre}}">{{this.nombre}}</option>
                                {{/each}}
            </select>
            <br>
                            <select name="municipio" class="form-select" aria-label="Default select example" id="muns">
                                <option>Municipio</option>
                            </select>
                            <br>
                            <select name="departamento" class="form-select" aria-label="Default select example" id="deptos">
                                <option>Departamento</option>
                            </select>
        </div>
            <button id="guardarEstablecimiento" class="btn btn-primary">Guardar establecimiento</button>
            </form>

        <h2 style="border-bottom: 4px solid black; margin-top: 1rem;">Servicios</h2>
        <table id="customers" style="margin-bottom: 5rem; align-self: center; justify-self: center;">
            <tr>
                <th>Nombre en establecimiento</th>
                <th>Nombre generico</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
            {{#each Establecimiento.serviciosDisponibles}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.servicio.nombre}}</td>
                    <td>{{this.servicio.tipoServicio.nombre}}</td>
                    <td>
                        <a href="./{{Establecimiento.id_establecimiento}}/servicios/{{this.id_servicio_por_establecimiento}}">
                            <button class="btn btn-warning">
                                Editar
                            </button>
                        </a>
                        <button class="btn btn-danger deshabilitarServicio" style="{{#unless this.habilitado}}display:none;{{/unless}}" data-id-servicio="{{this.id_servicio_por_establecimiento}}">
                            Deshabilitar
                        </button>
                        <button class="btn btn-success habilitarServicio" style="{{#if this.habilitado}}display:none;{{/if}}" data-id-servicio="{{this.id_servicio_por_establecimiento}}">
                            Habilitar
                        </button>
                    </td>
                </tr>
            {{/each}}
        </table>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Nuevo Servicio
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" action="/establecimiento/{{Establecimiento.id_establecimiento}}/servicio/nuevo">
                    <div class="modal-header" style="background-color: black; color: white;">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo servicio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
                    </div>
                    <div class="modal-body" style="background-color: cyan;">
                        <label for="inputNombreServicio" class="form-label">Nombre</label>
                        <input name="nombre_servicio" type="text" class="form-control" id="inputNombreServicio">
                        <label for="select1" class="form-label">Tipo</label>
                        <select name="tipo_servicio" class="form-select" aria-label="Default select example" id="select1">
                            <option>Elegir tipo</option>
                                {{#each tiposServicio}}
                                    <option value="{{this.nombre}}">{{this.nombre}}</option>
                                {{/each}}
                        </select>
                        <label for="inputProblemServicio1" class="form-label">Problematica</label>
                        <input name="problematica_servicio" value="" type="text" class="form-control" id="inputProblemServicio1">
                    </div>
                    <div class="modal-footer" style="background-color: black;">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Crear servicio</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <a href="/entidades/{{Establecimiento.entidad.id_entidad}}">
            <button type="button" class="btn btn-dark">Volver</button>
    </a>
</main>
<footer></footer>
<script>
    document.getElementById("selectProvincia").addEventListener("change", function() {
        var opcionSeleccionada = this.options[this.selectedIndex];
        var parametro = opcionSeleccionada.getAttribute("data-parametro");

        fetch('/entidades/establecimiento/nuevo/provincias/'+parametro, {
            method: 'GET'
        })

        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            // Manipular la respuesta recibida desde el backend
            data = "<option>Departamento</option>" + data;
            let opciones = data.split("|");
            document.getElementById('deptos').innerHTML = opciones[0];
            let municipios = "<option>Municipio</option>";
            municipios += opciones[1];
            document.getElementById('muns').innerHTML = municipios;
            if(opciones.length > 2){
                        let localidad = "<option>Localidad</option>";
                        localidad += opciones[2];
                        document.getElementById('muns').innerHTML = localidad
            }

        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });
</script>
<script>
    $(document).ready(() => {

        $('#guardarEstablecimiento').on('click', function () {
            $('form').submit();
        });


        $(document).on('click', '.deshabilitarServicio, .habilitarServicio', function (e) {
            var idServicio = $(e.target).attr("data-id-servicio");
            procesarCambioEstado(idServicio);
        });

    });
    var idServicio = 0;
    function procesarCambioEstado(idServicioParam) {
        idServicio = idServicioParam;
        $.ajax({
            url: "/servicios/cambiarEstadoServicio/" + idServicio,
            type: "POST",
            success: function (data) {
                if (data.length > 0) {
                    if (data == "false") {
                        //Buscar boton segun idServicio y clase
                        //Deshabilitado
                        $('.deshabilitarServicio[data-id-servicio="' + idServicio + '"]').hide();
                        $('.habilitarServicio[data-id-servicio="' + idServicio + '"]').show();
                    } else {
                        //Buscar boton segun idServicio y clase
                        $('.habilitarServicio[data-id-servicio="' + idServicio + '"]').hide();
                        $('.deshabilitarServicio[data-id-servicio="' + idServicio + '"]').show();
                    }
                }
            }
        });
    }
</script>
{{/partial}}
{{>templates/layoutBase rolUsuario=rolUsuario nombre=nombre idUsuario=id_usuario}}